
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header {
  font-family: "Montserrat", sans-serif cursive;
}

.banner {
  height: 700px; 
  background-image: url('../img/local.png'); 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
  opacity: 85%;
}  

body {
  font-family: "Montserrat", sans-serif;
}

.carousel img {
  height: calc(100vh - 71px);
}

.carousel-inner {
  max-height: 40rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  grid-auto-flow: dense;
  place-content: center;
  justify-content: center;
}

.cards img {
  margin-top: 1rem;
  width: 100%;
  height: 80%;
  object-fit: cover;
  padding: 20px 20px;
}

.cards img.square-sm {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.ver img.vertical {
  grid-row-end: span 2;
}

.navbar {
  background-color:#FBFCFC !important;
}

.navbar .fade-in {
  background: rgba(214, 209, 69, 1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
}

.navbar-brand img{
  font-family: "Montserrat", sans-serif;
  border-radius: 300%;
}
.video { 
  width: 100%;
  height: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  

.formUlario { 
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center; 
}

.gaLLery {
	display: flex;
	justify-content: center;
	margin: -2rem -2rem;
  font-family: "Montserrat";
  align-items: center;
}

.gallery-Item img{	
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.container .gaLLery .gallery-Item:hover img{
  opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);

}

.container .h2Dest {
  font-family: 'Nunito', sans-serif;
  color: dimgray;
  padding: 1px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.gallery-Item p{
  padding: 1rem;
  align-items: center;
  text-align: center;
}

@supports (display: grid) {
	.gaLLery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

.gaLLery,
.gallery-Item {
		margin: 0;
	}
}

.container h2{
	display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Black Ops One', cursive;
  font-size: 40px;
}

.container a, p{
  font-family: "Montserrat", cursive;
  font-size: 20px;
}

.conTainer {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.maPa {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center; 
}

.footCont {
  margin-top: 500px;
  position: fixed;
}

.coPy {
  font-size: 15px;
}

.navbar .logoFoo img{
  border-radius: 100%;
}

.fooTer .logoFoo img{
  border-radius: 100%;
}

.fooTer {
  margin-bottom: 0;
  color: white;
}

.footNav {  
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footNav a{
  padding: 0;
  font-size: 15px;
  text-decoration: none;
}

.footNav p{
  text-decoration: none;
  font-size: 15px;
}

.coPy{ 
  font-size: 10px;
}
@media only screen and (max-width: 600px) {

}


  /* Responsive layout */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.card-body {
  background-color: #FABD00;
  color: #F8F9FA;
}

.text-span {
  color: #b7b7a4;
}

.categorias {
  height: 250px;
  width: 100%;
  background-color: #FABD00;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
}

#deco {
  height: 500px;
  width: 100%;
  background-image: url('../img/woodendot-sAtN5q4cJlM-unsplash\ \(1\).jpg');
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
}

.contactoBG {
  background-color: #FECB46; }

.contactTitle {
  padding-top: 70px;
  background-size: 80%;
  background-position: center;
  height: 183px;
  background-repeat: no-repeat; }

.sectionContacto {
  margin-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .sectionContactus__coltext {
    flex-basis: 50%;
    font-family: "Anonymous Pro", monospace;
    color: #1F1F1F;
    font-size: 18px; }
  .sectionContactus__title {
    font-family: "Montserrat", sans-serif;
    color: #1F1F1F;
    font-size: 43px; }
  .sectionContactus__colform {
    flex-basis: 50%; }

.contactform {
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 100%; }

  @media(max-width: 576px) {
    .sectionContacto{
      flex-wrap: wrap;
      justify-content: center !important;
    }
  }
  

  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
